.education {
    text-align: left;
    border: 1px solid #cacaca;
}

.education__course {
    font-size: 25px;
    color: black;
    font-weight: bold;
}

.education__institution {
    font-size: 18px;
    color: rgb(92, 92, 92);
}

.education__period {
    font-size: 15px;
}