$contact-background: #e2e2e2;

.resume {
    
}

.resume__header {
    text-align: center;
}

.resume__contact {
    text-align: center;
    background: $contact-background;
    padding: 5px;
}

.resume__content {
    text-align: center;
}

.user {

}

.user__image {
    margin: 10px;
    border: solid 1px #cacaca;
}

.user__description {

}