.experience {
    text-align: left;
    border: 1px solid #cacaca;
    margin: 5px;
}

.experience__job {
    font-size: 25px;
    color: black;
    font-weight: bold;
}

.experience__rule {
    font-size: 18px;
    color: rgb(88, 88, 88);
}

.experience__period {
    font-size: 15px;
}

.experience__task {
    font-size: 10px;
}